<div class="box">
    <game-form (formSubmit)="onFormSubmit($event)"></game-form>
</div>
<div class="row" *ngIf="game.positions.length > 0">
    <div class="side">
        <grid [gridType]="boardType" [squares]="getBoard(game.positions)" (selectedSquare)="onSquareClick($event, boardType)"></grid>
    </div>
    <div class="middle">
        <p>id: {{game.id}}, name: {{game.name}}, description: {{game.description}}</p>
        <p>date: {{game.date}}</p>
        <p>rank: {{getCurrentRank(game.positions)}}, current player: {{getCurrentPlayer(game.positions)}}</p>
        <piece [piece]="getCurrentPiece(game.positions)"></piece>
        <div *ngIf="game.over">{{gameOverMessage}}</div>
    </div>
    <div class="side">
        <grid [gridType]="setType" [squares]="getSet(game.positions)" (selectedSquare)="onSquareClick($event, setType)"></grid>
    </div>
</div>
<button (click)="onAiPlay()">A.I. play</button>