.margin {
    margin-top: 75px;
}
.container {
    margin: auto;
    height: 800px;
    width: 800px;
}
.circle {
    margin: auto;
    height: 750px;
    width: 750px;
    border-radius: 50%;
    border: solid 6px;
    border-color: rgb(153, 111, 57);
}
.board {
    display: grid;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px 120px 120px;
    grid-column-gap: 10px;
    grid-row-gap: 10px;
}
.parent {
    position: relative;
}
.child_of_circle {
    position: absolute;
    top: 120px;
    left: 120px;
}
.child_of_container {
    top: 20px;
}
.square {
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
